body{
    background: #2f4f4f;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
h1 span{
    color: yellow;
    font-family: 'Odibee Sans', cursive;
}
p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 0 50px;
}


.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto ;
    border: 2px solid  #00bfff;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow{
    border:2px solid  #00bfff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../img/p1.jpg');
    background-size: cover;
}
.item-2 {
    background: url('../img/1.png');
    background-size: cover;
}
.item-3 {
    background: url('../img/p4.jfif');
    background-size: cover;
}

*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.backBtn{
    text-align: center;
}
.backBtn a{
    text-decoration: none;
    color: #FEFCF3;
    font-size: 16px;
    background: #fb7500;
    padding: 6px 12px;
    margin: 15px 0;
    border-radius: 15px;
    transition: all 0.3s ease;
    border-style: none;
    cursor: pointer;
}
.backBtn a:hover{
    border: 1px solid #00e5ff;
    transform: scale(1.1);
    background: #333;
    color: #00e5ff;
}
/* =============================== Responsive ============================ */
@media (max-width: 780px){
    body{
        background: #2f4f4f;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .35s ease;
    }
    h1{
        font-size: 36px;
    }
    h1 span{
        color: yellow;
        font-family: 'Odibee Sans', cursive;
    }
    p{
        font-size: 14px;
        padding: 0 30px;
    }
    .carousel-wrapper {
        position: relative;
        width: 450px;
        height: 250px;
        display: block;
        margin: 50px auto ;
        border: 2px solid  #00bfff;
        transition: all .35s ease;
    }
}



@media (max-width: 480px){
    body{
        background: #2f4f4f;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .35s ease;
    }
    h1{
        font-size: 28px;
    }
    h1 span{
        color: yellow;
        font-family: 'Odibee Sans', cursive;
    }
    p{
        font-size: 12px;
        padding: 0 30px;
    }
    .carousel-wrapper {
        width: 320px;
        height: 200px;
        margin: 30px auto ;
        transition: all .35s ease;
    }
    .arrow{
        border-width: 0 3px 3px 0;
        padding: 6px;
    }
    .backBtn a{
        font-size: 12px;
        padding: 4px 10px;
        margin: 12px 0;
        border-radius: 15px;
    }
}
