*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
}
.main-con{
    position: relative;
    width: 100%;
    height: 110vh;
    padding: 0 30px;
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: center;
}
.title-con h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 46px;
    letter-spacing: 2px;
    color: #14d3cd;
    padding-top: 30px;
}
.title-con h1 span{
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #f4b700;
}
.title-con p{
    font-size: 24px;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 50px;
}
.box-con{
    position: relative;
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    width: 50%;
    background: #cac9c9;
    color:#000000;
    padding: 40px 12px;
    margin: 0 30px;
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
    transition: all .45s ease;
    border-radius: 10px;
}
.box1 i{
    position: relative;
    min-width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    background-color: #00b2c6;
    transition: 0.5s;
    border: 2px solid black;    

}
.box1 h3{
    margin-top: 10px;
    font-size: 24px;
}
.box1 li{
    margin: 10px 20px;
    font-size: 14px;
    text-align: left;
}
.box1 li:hover{
    font-size: 16px;
    color: #710000;
    background: #333333ac;
    padding: 10px;
    border-radius: 6px;
}
.box1 a{
    position: relative;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 14px;
    background: #333;
    padding: 5px 15px;
    margin: 20px 0;
    border-radius: 15px;
    transition: 0.1s;
    border-style: none;
}
.box1 a:hover{
    border: 2px solid #ff0101;
    transform: scale(1.2);
    background: #333;
    color: #ff0000;;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.card:hover .box1 i{
    background: #333;
    color: #00e5ff;
    border: 2px solid  #00e5ff;
    transform: rotate(360deg);
}


/* ========================= Responsive ================================== */
@media (max-width: 780px){
    .main-con{
        height: auto;
    }
    .title-con h1{
        padding: 30px;
        font-size: 32px;
    }
    .title-con h1 span{
        font-size: 32px;
    }
    .title-con p{
        font-size: 16px;
    }
    .box-con {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .card {
        width: 100%;
        margin-bottom: 150px;
    }
}

    /* ------------------------ */
    @media (max-width: 480px){
        .main-con{
            height: auto;
        }
        .title-con h1{
            font-size: 28px;
        }
        .title-con h1 span{
            font-size: 28px;
        }
        .title-con p{
            font-size: 12px;
        }
        .box-con {
            position: relative;
            display: flex;
            justify-content: center;
        }
        .card{
            position: relative;
            width: 100%;
            margin-bottom: 50px;
        }
        .box1 i{
            position: relative;
            min-width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 30px; 
        }
        .box1 h3{
            font-size: 18px;
        }
        .box1 a{
            position: relative;
            font-size: 12px;
            padding: 4px 12px;
            margin: 8px 0;
        }
        .box1 li{
            margin: 10px 20px;
            font-size: 12px;
        }
        .box1 li:hover{
            font-size: 14px;
            padding: 10px;
            border-radius: 6px;
        }
}